**

!Dockerfile
!Directory.Build.props
!Directory.Build.targets
!Directory.Packages.props
!nuget.config
!README.md

!api/
!api/src/
!api/src/Concertable.Auth.Contracts/
!api/src/Concertable.Auth.Contracts/**
!api/src/Concertable.Auth/
!api/src/Concertable.Auth/**
!api/src/Concertable.Auth.Migrations/
!api/src/Concertable.Auth.Migrations/**

**/bin/
**/obj/
**/*.jwk
**/appsettings.Development.json
